/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    width: 100%;
    box-shadow: 0 2px 5px rgba(110, 22, 118, 0.259);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #9a2792;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff9800;
  }
  /* design card */
   .container{
    max-width: calc(100% - 200px);
    margin: 100px auto;
   }
   .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
   }
  .card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
}

.card-header {
    text-align: center;
    margin-bottom: 20px;
}

.card-header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.card-header h3 {
    margin: 5px 0 0;
    font-size: 18px;
    color: #777;
}

.card-content {
    line-height: 1.6;
    color: #555;
}

.card-content p {
    margin: 5px 0;
}

.card-content strong {
    color: #333;
}

.geo {
    font-style: italic;
    color: #999;
}

.card-footer {
    margin-top: 20px;
    text-align: center;
}
a{
    color: #751a94;
    text-decoration: none;
    font-weight: bold;
}


.card-footer a:hover {
    text-decoration: underline;
}